.page {
  font-family: 'Times New Roman', sans-serif;
  background-color: #000;
  font-weight: 900;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 320px;
  min-height: 450px;
}

.page__content {
  text-align: center;
  max-width: 600px;
  width: 100%;
}

.todos__list {
  padding: 0;
  padding-right: 10px;
  overflow: auto;
  height: 68vh;
}

.header {
  padding-top: 30px;
}

.page__header {
  margin-bottom: 40px;
}

.header__title {
  padding-right: 26px;
  font-size: 51px;
  line-height: 1;
  margin: 0;
}

.todos__input {
  flex-grow: 1;
  padding: 19px 15px;
  border-radius: 5px;
  border: 0;
  outline: 0;
  font-size: 20px;
  font-weight: bold;
}

.todos__submit-btn {
  padding: 0;
  border: 0;
  cursor: pointer;
  padding: 19px 27px;
  border-radius: 5px;
  background-color: #fff;
  font-size: 20px;
  font-weight: bold;
  transition: all .3s ease-in-out;
}

.todos__submit-btn:hover {
  opacity: .6;
}

.todos__form {
  font-family: 'Inter', sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 23px;
}

.todo {
  display: flex;
  padding: 36px;
  gap: 10px;
  border: 1px solid #6f6f6f;
  border-radius: 5px;
  box-sizing: border-box;
  transition: all .2s ease-in;
}

.todo:hover {
  border: 1px solid #fff;
}

.todos__todo {
  margin-bottom: 10px;
}

.todos__todo:last-of-type {
  margin: 0;
}

.todo__text {
  margin: 0;
  flex-grow: 1;
  text-align: start;
  font-size: 23px;
}

.todo__btn {
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 22px;
  height: 22px;
  margin-right: 15px;
  transition: all 0.3s ease-out;
}

.todo__btn:hover {
  opacity: .3;
  transform: scale(1.25);
}

.todo__btn:last-of-type {
  margin: 0;
}

.todo__buttons {
  min-width: 105px;
}

.todo__btn_edit {
  background-image: url('./images/edit.svg');
}

.todo__btn_dublicate {
  background-image: url('./images/duplicate.svg');
}

.todo__btn_delete {
  background-image: url('./images/delete.svg');
}

.page__footer {
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;
}

.footer__title {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-size: 15px;
}

.todos__list::-webkit-scrollbar {
  width: 10px;
}

.todos__list::-webkit-scrollbar {
  border-radius: 8px;
  background: #7c7c7c;
}

.todos__list::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #fff;
}
