.todos__list {
  padding: 0;
  padding-right: 10px;
  overflow: auto;
  height: 68vh;
}

.todos__list::-webkit-scrollbar {
  width: 10px;
}

.todos__list::-webkit-scrollbar {
  border-radius: 8px;
  background: #7c7c7c;
}

.todos__list::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #fff;
}
