.todos__list {
  padding: 0;
  padding-right: 10px;
  overflow: auto;
  height: calc(100vh - 270px);
  margin: 0;
}

.todos__list::-webkit-scrollbar {
  width: 10px;
}

.todos__list::-webkit-scrollbar {
  border-radius: 8px;
  background: #7c7c7c;
}

.todos__list::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #fff;
}

@media (max-width: 520px) {
  .todos__list {
    height: calc(100vh - 290px);
  }
  .todos__list::-webkit-scrollbar {
    width: 7px;
  }

}
